<template>
    <div id="cabecera">
        <nav class="navbar fixed-top navbar-dark">
            <a class="navbar-brand" href="http://quipucamayoc.unmsm.edu.pe/portal/"><img id="imgtitulo" src="../assets/logosanmarcos.png"></a>
        </nav>
    </div>
</template>
<script>
export default {
  name: 'Cabecera'
}
</script>
<style>
#cabecera{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#imgtitulo{
    width:300px;
    height: 70px;
}
@media screen and (max-width:360px), screen and (max-width: 375px){
    #imgtitulo{
        width: 315px;
        height: 60px;
    }
}
.navbar{
    justify-content: center;
}
</style>