<template>
  <div class="containerPers">
     <div class="wrap-contact">
        <form class="md-layout">
            <md-card class="md-layout-item" style="overflow:visible;">
                <md-card-header class="tituloCard">
                    <div class="md-title text-center">{{tituloForm}}</div>
                </md-card-header>
            <md-card-content>
            <br>
            <div class="md-layout">
                <div class="md-layout-item divForm">
                    <md-field>
                        <label>{{labelForm.tipo}}</label>
                        <md-select name="tipo" id="tipo" v-model="form.tipoComp">
                        <md-option v-for="tipos in tiposComprobantes" :key="tipos.id_tipo_cpago" :value="tipos.id_tipo_cpago">
                            {{tipos.desc}}
                        </md-option>
                        </md-select>
                    </md-field>
                    <md-field >
                        <label>{{labelForm.establecimiento}}</label>
                        <md-input v-model="form.establecimiento"></md-input>  
                    </md-field>
                    <md-field >
                        <label>{{labelForm.numero}}</label>
                        <md-input v-model="form.nroComp"></md-input>  
                    </md-field>
                    <md-datepicker v-model="form.fechaEmision" aria-disabled="true">
                        <label>{{labelForm.fecha}}</label>
                    </md-datepicker>
                    <md-field >
                        <label>{{labelForm.documento}}</label>
                        <md-input v-model="form.nroDoc"></md-input>  
                    </md-field>
                    <md-field>
                        <div class="g-recaptcha" data-sitekey="6LdtQkEUAAAAAJI-YbPlmM-Dxmsk6IioqJD0rSej"></div>
                    </md-field>
                </div>
            </div>
            </md-card-content>
            <md-card-actions>
                <md-button type="submit" class="md-accent" @click="descargarPDF">{{buttonForm.btn1}}</md-button>
                <md-button type="submit" class="md-primary" @click="descargarXML">{{buttonForm.btn2}}</md-button>
            </md-card-actions>
        </md-card>
        </form>
      </div>
  </div>
</template>
<script>
import axios from 'axios';
import moment from 'moment';
import fileSaver from 'file-saver';
import config from '../config.js';
export default {
  name:'Formulario',
  data: ()=>({
      'form': {
        'tipoComp': '',
        'nroComp': '',
        'fechaEmision': null,
        'nroDoc': '',
        'establecimiento': '',
        'responseRecaptcha': ''
      },
      tituloForm: 'consulta comprobantes',
      labelForm:{
          tipo: 'Comprobante',
          numero: 'Número Comprobante',
          fecha: 'Fecha de Emisión',
          documento: 'Número de Documento',
          establecimiento: 'Número de Establecimiento'
      },
      buttonForm:{
          btn1: 'PDF',
          btn2: 'XML'
      },
      tiposComprobantes: [],
      mensaje:''
  }),
  created(){
      axios.get(config.base_url+'tiposComp')
      .then(
          response =>{
              this.tiposComprobantes=response.data
          }
      ).catch(e=>{
          this.errors.push(e)
      })
  },
  methods:{
      descargarPDF:function(event){
          this.obtenerRecaptcha()
          this.form.fechaEmision=moment(this.form.fechaEmision).format('DD/MM/YYYY');
          axios.post(config.base_url+'documento/downloadPDF/',this.form,{responseType: 'arraybuffer'}
          ).then(
              response =>{
                console.log("response: ", response.data)
                let blob = new Blob([response.data], { type: 'application/pdf' } )
                fileSaver.saveAs(blob, this.form.nroComp+".pdf")
              }
          ).catch(e=>{
              this.errors.push(e)
          })
      },
      descargarXML:function(event){
          this.obtenerRecaptcha()
          this.form.fechaEmision=moment(this.form.fechaEmision).format('DD/MM/YYYY');
          axios.post(config.base_url+'documento/downloadXML/',this.form
          ).then(
              response=>{
                  console.log("response: ", response.data)
            }
          ).catch(e=>{
              this.errors.push(e)
          })
      },
      obtenerRecaptcha(){
          this.form.responseRecaptcha=grecaptcha.getResponse();
      }
  }
}
</script>
<style>
/*---------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Oxygen');
.tituloCard{
    margin-top: -60px;
    background: #2196f3;
    overflow: visible;
    border: 0.5px solid;
    font-family: 'Oxygen', sans-serif;
    text-transform:uppercase;
}
.md-card .md-title{
    font-size: 22px !important;
}
.divForm{
    overflow: visible;
}
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

.wrap-contact{
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
    width: 408px;
    background: #fff;
    overflow: hidden;
    padding: 30px 35px 33px 35px;
    overflow: visible; 
    border: 0.5px solid;
    margin-top: 50px;
}
.contact-form{
    width: 100%;
}
.contact-form-title{
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;
}
.validate-input{
    position: relative;
}
.containerPers{
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-image: url('../assets/imagenconsulta.jpg');
    background-size:cover;
    background-position: 0 50%;
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.3);
    background-repeat: no-repeat;
}
.wrap-input{
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 13px;
    margin-bottom: 27px;
}
.label-input{
    font-family: Poppins-Regular;
    line-height: 1.5;
    padding-left: 5px;
}

.md-field .md-input, .md-field .md-textarea{
    font-size: 0!important;
}
.md-has-value.md-field .md-input,
.md-has-value.md-field .md-textarea,
.md-focused.md-field .md-input,
.md-focused.md-field .md-textarea{
    font-size: 16px!important;
}

@media(max-width:450px){
    .wrap-contact{
    width: 400px;
    padding: 20px 35px 22px 35px; 
    margin-top:54px;
    }
    .md-card-header {
        padding: 10px;
    }
}

@media(max-width:320px){
    .wrap-contact{
    width: 300px;
    padding: 10px 10px 10px 10px;
    margin-top: 54px; 
    }
    .containerPers{
        padding-top: 50px;
        padding-bottom: 8px;
    }
    .md-card-header {
        padding: 10px;
    }
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

input.inputForm {
    height: 40px;
}
textarea.inputForm {
  min-height: 110px;
  padding-top: 9px;
  padding-bottom: 13px;
}

.inputForm:focus + .focus-inputForm::before {
  width: 100%;
}

.has-val.inputForm + .focus-inputForm::before {
  width: 100%;
}
.inputForm{
    display: block;
    width: 100%;
    background: transparent;
    font-family: Poppins-Medium;
    /* font-size: 18px; */
    color: #333333;
    line-height: 1.2;
    padding: 0 5px;
}
.focus-input{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #7f7f7f;
}

</style>

