<template>
<div>
    
    <footer class="fixed-bottom">
        <div class="footer-copyright py-3 text-center">
            <!-- © 2018:
            <a href="https://mdbootstrap.com/material-design-for-bootstrap/"> Quipucamayoc </a> -->
            <a class="navbar-brand" href="http://quipucamayoc.unmsm.edu.pe/portal/"><img src="../assets/logo_quipu.png"></a>
        </div>
    </footer>                      
</div>
</template>
<script>
export default {
  name: 'PiePagina'
}
</script>
<style>

</style>

