<template>
  <div id="app">
    <Cabecera/>
    <Formulario/>
    <PiePagina/>
  </div>
</template>

<script>
import Cabecera from './components/Cabecera'
import Formulario from './components/Formulario'
import PiePagina from './components/PiePagina'
export default {
  name: 'App',
  components:{
    Cabecera,
    Formulario,
    PiePagina
  }
}
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
